<footer class="page-footer text-white bg-dark font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Công ty TNHH Ví nam Walley</h5>
        <p>123 Nguyễn Huệ, Quận 1, TP. Hồ Chí Minh.</p>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Các chính sách</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link text-white" href="#!">Về hoàn lại sản phẩm</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Về đổi sản phẩm</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Các câu hỏi thường gặp</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Các điều khoản</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link text-white" href="#!">Bảo hiểm cho sản phẩm</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Giấy phép kinh doanh</a>
          </li>
          <li>
            <a class="nav-link text-white" href="#!">Diễn đàn</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2022 Bản quyền thuộc Công ty TNHH Ví nam Walley
  </div>
</footer>
